.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: calc(100%) !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;

  a {
    color: white;
    font-weight: 700;
  }
  a:hover{
    color: #16629c;
  }

  button {
    color: #001529;
    text-align: center;

    i {
      color: white;
      margin-right: 0 !important;
    }
  }

  button:hover {
    background-color: white;
    border-radius: 20px;
    i {
      color: #001529 !important;
    }
  }
}

.spacer {
  flex: 1;
}

.ant-menu-inline-collapsed {
  a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 45px;
  }
  .row {
    button {
      display: none;
    }
  }
}



.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  width: auto;
}
.app-layout {
  height: 100vh;
}

@media screen and (min-width: 800px) {
  .inner-content {
    margin: 0 5vw;
  }
}
@media screen and (min-width: 1000px) {
  .inner-content {
    margin: 0 8vw;
  }
}
@media screen and (min-width: 1200px) {
  .inner-content {
    margin: 0 15vw;
  }
}
@media screen and (max-width: 700px) {
  .ant-layout-sider-collapsed {
    width: 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
  }
  .ant-menu-inline-collapsed {
    width: 30px !important;
  }
}
